.DetailBox{
    display: flex;
}

.DetailFirstColl{
    width: 60%;
}

.DetailSecondColl{
    width: 40%;
    padding-left: 40px;
}

.flightDetailText{
    margin-top: 44px;
}

.BuyingCard{
    display: flex;
}

.in1{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 12px;
    padding: 24px;
    margin: 40px 0;
}

.BuyingCard img{
    margin-right: 24px;
}

.detal div{
    display: flex;
}

.detal h4{
    margin-bottom: 24px;
}

.detaltext{
    padding: 16px 0;
    margin: 16px 0;
    border-top: 1px solid rgb(201 187 188);
    border-bottom: 1px solid rgb(201 187 188);
}

.detaltext p{
    margin-bottom: 0px !important;
}

.price1{
    display: flex;
    padding: 8px 0;
}

.price1 h4{
    margin-left: auto;
}

.finalprice{
    display: flex;
    border-top: 1px solid rgb(201 187 188);
    padding-top: 16px;
}

.finalprice h4{
    margin-left: auto;
}

.payment{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 12px;
    padding: 16px;
}

.payinfull{
    border-radius: 12px;
    padding: 16px;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    margin-bottom: 10px;
    cursor: pointer;
}

.payment label.selected{
    background: #8DD3BB;
}

.payinfull input{
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.payinlater a{
    width: fit-content;
    display: block;
}

.payinlater{
    border-radius: 12px;
    padding: 16px;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    cursor: pointer;
}

.payinlater input{
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.payinlater div h6 {
    position: relative;
    width: fit-content;
    padding-bottom: 3px;
}

.payinlater div h6:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    animation: expand-line 0.5s forwards;
}

.CreditCardBox{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 12px;
    padding: 16px;
    margin-top: 40px;
}

.CreditCardBox input{
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #79747E;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    margin: 16px 0;
}

.CreditCardBox button{
    background: #8DD3BB;
    border-radius: 4px; 
    height: 48px;
    width: 100%;
    text-align: center;
    margin: 16px 0;
}

.orCont{
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or{
    width: 100%;
    height: 1px;
    background-color: #112211;
    opacity: 0.25;
}

.orCont h5{
    position: absolute;
    opacity: 1 !important;
    background-color: white;
    padding: 24px;
    z-index: 99999999;
}

.othericons{
    display: flex;
    gap: 15px;
}

.othericons button{
    width: 33.333% !important;
    background-color: white !important;
    border: 1px solid black;
    height: 56px;
}

.emailcontinue{
    background-color: white !important;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px !important;
    height: 56px !important;
}

.emailcontinue svg{
    margin-right: 10px;
}

@keyframes expand-line {
    to {
      width: 100%;
    }
  }