.flightDetailText svg{
    margin: 0 14px;
}

.kidding{
    margin-left: 0px !important;
}

.flightDetailText div{
    display: flex;
}

.flightDetailText p{
    cursor: pointer;
}

.flightDetailText{
    margin-bottom: 10px;
}

.moreText h2{
    color: #FF8682;
    margin-left: auto;
}

.moreText div{
    display: flex;
}

.moreText p{
    margin-bottom: 5px !important;
}

.moreText div div{
    margin-left: auto;
}

.moreText div div button{
    padding: 10px 13px;
    border: 1px solid #8DD3BB;
    border-radius: 4px;
    margin-left: 15px;
}

.booknow{
    background: #8DD3BB;
    padding: 10px 35px !important;
}

.imgcont{
    margin-top: 33px;
    margin-bottom: 30px;
}

.economy{
    display: flex;
    margin-bottom: 24px;
}

.economy div{
    margin-left: auto;
}

.economy input{
    margin-left: 27px;
    margin-right: 11px;
}

.economy label{
    cursor: pointer;
}

.economy button{
    margin-left: 10px;
    background-color: #8DD3BB;
    border-radius: 4px;
    padding: 7px;
    margin-top: 10px;
}

.manySmallcards{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
}

.manySmallcards img{
    margin-bottom: 10px;
}

.policies{
    width: 100%;
    margin-top: 40px;
    background: rgba(141, 211, 187, 0.6);
    border-radius: 8px;
    padding: 16px;
}

.policies h3{
    margin-bottom: 16px;
}

.policies svg{
    margin-right: 10px;
}

.EmiratesBox{
    margin: 40px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 12px;
    padding: 32px 24px;
}

.EmiratesText{
    display: flex;
}

.EmiratesText h5{
    margin-left: auto;
    opacity: 0.75;
}

.EmiratesIcons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 35px;
}

.EmiratesSon{
    display: flex;
    padding: 16px 28px;
    border: 0.5px solid #8DD3BB;
    border-radius: 8px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.EmiratesSon img{
    width: 64px;
    height: 44.49px;
}

.EmiratesSon h6{
    opacity: 0.6;
}

.ActuallIcons{
    margin-left: auto;
    display: flex;
    padding: 16px;
    align-items: center;
}

.ActuallIcons img{
    border-right: 1px solid #D7E2EE;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.ActuallIcons svg{
    border-right: 1px solid #D7E2EE;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.ActuallIcons :last-child{
    border-right: none !important;
}

.EmiratesFinalText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.EmiratesFinalText h6{
    opacity: 0.6;
}

.EmiratesFinalText div{
    display: flex;
}

.EmiratesFinalText svg{
    margin: 0 80px;
}

.EmiratesFinalText h3{
    margin-right: 15px;
}

@media (max-width: 991px){
    .EmiratesFinalText svg {
        margin: 0 40px;
    }
    .EmiratesFinalText h3 {
        font-size: 20px;
    }
}

@media (max-width: 767px){
    .flightDetail {
        margin-top: 94px;
    }
    .flightDetailText {
        margin-top: 0px !important;
    }
    .moreText p {
        font-size: 14px;
    }

    .moreText div h6,b,span{
        font-size: 13px !important;
        margin-bottom: 0px;
    }

    .manySmallcards{
        justify-content: center;
    }

    .economy div{
        text-align: right;
    }

    .EmiratesIcons{
        justify-content: center;
    }

    .ActuallIcons{
        margin-left: 0px;
        margin-top: 15px
    }

    .EmiratesFinalText div{
        display: block;
    }
}

@media (max-width: 575px){
    .moreText p {
        font-size: 11px;
        margin-bottom: 0px !important;
    }

    .moreText div{
        align-items: center;
    }

    .moreText div svg{
        margin-top: 0px  !important;
    }
}

@media (max-width: 500px){
    .moreText div div{
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }

    .kidding{
        justify-content: start !important;
    }
}