@import url('https://fonts.cdnfonts.com/css/trade-gothic-lt-std');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #FAFBFC;
    overflow-x: hidden;
}

@media (min-width: 1400px){
    .container {
        max-width: 1620px  !important;
    }
}
