.Black[data-check-if-active = false] {
    display: none;
}

.Black[data-check-if-active = true] {
    display: block;
}

footer[data-check-if-active = false]{
    display: none;
}

footer[data-check-if-active = true]{
    display: block;
}

button:hover{
    opacity: 0.8;
    transition: all 0.1s linear;
}

.loggedinInfo{
    display: flex;
    gap: 32px;
    position: relative;
}

.FavoriteButt{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.FavoriteButt p{
    position: absolute;
    left: 52%;
    top: 10px;
}

.FavoriteButt svg{
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.ProfileButt{
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.ProfileButt img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.ProfileButt svg{
    position: absolute;
    right: 20%;
    bottom: 2px;
}

.loggedinInfo1{
    display: flex;
    gap: 32px;
    position: relative;
}

.FavoriteButt1{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.FavoriteButt1 p{
    position: absolute;
    left: 52%;
    top: 10px;
}

.FavoriteButt1 svg{
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.ProfileButt1{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.ProfileButt1 img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.ProfileButt1 svg{
    position: absolute;
    right: 20%;
    bottom: 2px;
}

.butt div[data-index = true]{
    transform: translateX(135px);
    transition: all 0.6s ease-in-out;
}

.butt div[data-index = false]{
    transform: translateX(0px);
    transition: all 0.6s ease-in-out;
}